#logo {
  margin-bottom: 20px;
}

.experiments-title {
  margin-bottom: 20px;
}

.experiments {
  padding-bottom: 20px;
}
.experiments a {
  color: #000;
  border-bottom: 1px solid #000;
  padding-bottom: 1px;
}
.experiments a:hover {
  background-color: #000;
  color: #fff;
  text-decoration: none;
}

.experiments.dark {
  background-color: #000;
  color: #fff;
}
.experiments.dark a {
  border-bottom-color: hotpink;
  color: hotpink;
}
.experiments.dark a:hover {
  background-color: hotpink;
  color: #000;
}

.experiment-link {
  display: inline-block;
}
.experiment-name {
  margin: 10px 0 5px;
}
.experiment-description {
  margin-bottom: 0;
}
