a {
  color: hotpink;
}
a:hover {
  background-color: hotpink;
  color: #000;
  text-decoration: none;
}

#logo {
  margin-bottom: 20px;
}

.experiments-title {
  margin-bottom: 20px;
}

#experiments {
  background-color: #000;
  color: #fff;
  padding-bottom: 20px;
}

.experiment-link {
  display: inline-block;
}
.experiment-name {
  margin: 10px 0 5px;
}
.experiment-description {
  margin-bottom: 0;
}
